.form-signup {
    padding: 40px;
    border: blue 2px solid;
    border-radius: 6px;
    background-color: #fbfbfb;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.form-signin {
    padding: 50px;
    border: blue 2px solid;
    border-radius: 6px;
    background-color: #fbfbfb;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.form-start-style {
    padding: 40px;
    border: blue 2px solid;
    border-radius: 6px;
    background-color: #fbfbfb;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.btn-signup {
    background: #db8170;
    position: relative;
    margin: 20px 0px;
    padding: 0.65em;
    float: inherit;
    width: 100%;
    color: #eff5f9;
    border-color: rgba(255, 255, 255, 0.34);
}
.btn-signin {
    background: #db8170;
    position: relative;
    margin: 20px 0px;
    padding: 0.65em;
    float: inherit;
    width: 100%;
    color: #eff5f9;
    border-color: rgba(255, 255, 255, 0.34);
}


.password-input-style {
    position: relative;
    margin: 20px 0px 25px 0px;
    padding: 0.65em;
    float: inherit;
    width: 100%;
    color: #626567;
    border-color: rgba(255, 255, 255, 0.34);
}

.username-input-style {
    position: relative;
    margin: 20px 0px 10px;
    padding: 0.65em;
    float: inherit;
    width: 100%;
    color: #626567;
    border-color: rgba(255, 255, 255, 0.34);
}

.role-balance-style {
    position: relative;
    margin: 20px 0px 10px;
    padding: 0.65em;
    float: inherit;
    width: 100%;
    color: #626567;
    border-color: rgba(255, 255, 255, 0.34);
}

/* ---------------------- HEADER STYLE -------------------- */

.header {
    position: relative;
    text-align: center;
    padding: 40px 20px 0 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 20px;
    background: #132440;
    animation-name: topToBottom;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.25s;
    text-decoration: none;
}

@keyframes topToBottom {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

.header-logo {
    flex: 1;
    text-align: left;
    display: block;
    font-size: 1.5em;
    align-self: center;
    color: white;
}
.header-menu {
    flex: 1;
    min-width: 300px;
}
.header-login {
    flex: 1;
    text-align: right;
    display: block;
    font-size: .8em;
    align-self: center;
    padding-right: 10px;
}
.header-login input {
    padding-left: 5px;
    outline: none;
}
.header-top > ul {
    display: flex;
    text-align: center;
    /* padding: 10px; */
    margin: 0 0;
    text-decoration: none;
}
.login-button {
    padding: 0 5px;
    margin: 0 5px;
}
.header-top li {
    display: inline-block;
    color: white !important;
    padding: 0 10px;
    text-decoration: none;
}
.header-logo,
.header-login {
    min-width: 180px;
}
.header-menu a:focus,
.header-menu a:hover {
    border-bottom: 1px solid white;
}

/* ----------------------- FOOTER ------------------------- */
html, body {
    height: 100%;
    width: 100%;
}
.help_footer {
    min-height: 95%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    padding: 8px 0;
    background: #db8270;
}
.footflexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footbox {
    color: #fff;
    font-size: .8em;
    padding-left: 20px;
    padding-right: 20px;
}

/* ------------------------ BREADCRUMBS ------------------------ */
.breadcrumps {
    margin: 25px 0 60px 0;
}
.crumbs {
    height: 20px;
}
.crumbs a {
    float: left;
    height: 15px;
    background: #db8170;
    color: #ffffff;
    text-align: center;
    padding: 5px 20px;
    position: relative;
    margin: 0 12px 0 0;
    font-size: .8em;
}
/* .crumbs a {
  color: #494d5f;
} */
.crumbs a::after {
    content: "";
    border-top: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #db8170;
    position: absolute;
    right: -12px;
    top: 0;
}
.crumbs a::before {
    content: "";
    border-top: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    left: 0;
    top: 0;
}
.breadcrumps li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.breadcrumps li:first-child a::before {
    display: none;
}
.breadcrumps li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-decoration: none;
}
.breadcrumps li:last-child a::after {
    display: none;
}
.crumbs li:hover a {
    background: #d7dce6;
    color: #8458B3;
}
.crumbs li:hover a::after {
    border-left-color: #d7dce6;
}
.crumbs a:focus {
    color: #8458B3;
    background: #d7dce6;
    outline: none;
}
.crumbs a:focus::after {
    border-left-color: #d7dce6;
}


/* -------------------------------------------------------- *
 * ----------------------- FILTERS ------------------------ *
 * -------------------------------------------------------- */
/* .filters {
  flex: 1;
} */

.button_search {
    background: #db8170;
    padding: 0.65em;
    color: #eff5f9;
    border-color: rgba(255, 255, 255, 0.34);
}
aside {
    min-width: 180px;
    padding: 25px 10px;
}
.sort-select{
    font-weight: 300;
    font-size: .9em;
}
.filterbox{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 300;
    font-size: .9em;
}
.filterbox input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.filterbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.filterbox input:checked ~ .checkmark {
    background-color: #8458B3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.filterbox input:checked ~ .checkmark:after {
    display: block;
}
.filterbox .checkmark:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.search label,
.search input {
    font-weight: 300;
    font-size: .9em;
}

.search label {
    display: block;
    padding: 5px 0;
}

.search input {
    padding-left: 5px;
    margin-bottom: 10px;

    outline: none;
    width: 80%;
}

#formButton {
    margin-top: 10px;
}



/* -------------------------------------------------------- *
 * ---------------------- CONTAINER ----------------------- *
 * -------------------------------------------------------- */
.container {
    max-width: 1020px;
    margin: 0 -10px;
    /*border: 1px solid red;*/
}
.one-third {
    /* flex: 1; */
    float: left;
    margin: 10px;
}
.column {
    width: 320px;
}
.shelfItem {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    border: 1px solid #efefef;
    padding: 20px;
    background: white;
}
.shelfItem h5 {
    height: 40px;
    /* width: 100%;
    margin: 10px 0;
    font-size: 1em;
    font-weight: 400;
    text-align: center; */
}
.shelfItem p {
    font-size: .8em;
    font-weight: 300;
    color: #74808a;
    text-align: justify;
}
.images {
    height: 190px;
}

.item_thumb {
    min-width: 30px;
    max-width: 200px;
    max-height: 190px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
.closed-item {
    position: absolute;
    top: 60px;
    left: 60px;
}
.shelfDescribe {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.item_size {
    font-family: 'Lato', sans-serif;
    font-size: .8em;
}
.item_price {
    font-weight: 700;
    font-size: 20px;
    /* line-height: 35px; */
}
.avlb,
.notavlb {
    font-size: .8em;
    font-weight: 200;
}
.avlb {
    color: green;
}
.notavlb {
    color: red;
}
/*--------------------------------------------------------*/
/*
.headerRow {
  display: table-row;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
}
.headerRow div {
  display: table-cell;
  padding: 10px;
}
.itemRow.odd {
  background: #fafafa;
}
.itemRow {
  display: table-row;
  border-bottom: 1px solid #e1e1e1;
}
.itemRow:last-child {
  border-bottom: 0 solid #fff;
}
.itemRow div {
  display: table-cell;
  padding: 10px;
}
.itemRow .item-quantity {
  text-align: center;
}
 */


/* -------------------------------------------------------- *
 * ------------------------- MAIN ------------------------- *
 * -------------------------------------------------------- */
main {
    /* background: url(/images/bg.jpg);
    background-size: cover;
    overflow: hidden; */
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    min-height: 40vh;
}

.page {
    box-sizing: border-box;
    margin: 0 auto 0px auto;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 560px;
    max-width: 1240px;
    list-style-type: none;
    display: flex;
}




#body {
    background:
            -webkit-linear-gradient(
                    rgba(246,247,249,0.8),
                    rgba(246,247,249,0.8)),
            url(bg_1.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
}

/* -------------------------------------------------------- *
 * ----------------------- ADD LOT ------------------------ *
 * -------------------------------------------------------- */
.crate_lot_page {
    width: 400px;
    position: absolute;
    left: 20%;
    right: 20%;
    max-width: 600px;
    min-height: 20vh;
    margin: 3vh auto;
    padding: 20px;
    background: white;
    z-index: 2000;
}
.addLot-header {
    padding-bottom: 30px;
    border-bottom: 1px solid #d7dce6;
    margin-bottom: 15px;
}
.addLot-form label {
    display: block;
}

.addLot-form > input,
.addLot-form > select {
    margin: 15px 0;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}

#description,
#newFeedback {
    margin: 15px 0;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: .9em;
}

.addLot-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d7dce6;
}
.addLot-controls a {
    font-size: .8em;
    color: #74808a;
}
.addLot-controls > .button {
    padding: 5px 30px;
    border-radius: 4px;
}



